html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.container {
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4.5rem;
}

.two {
  font-size: 1.2rem;
}

.three {
  font-size: 3rem;
}

.four .text-box {
  width: 600px;
  margin: 0 auto;
  border: 3px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.text-box span {
  visibility: hidden;
}

.fake-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  background-color: rgb(21, 161, 237);
  padding: 5px 8px;
  border-radius: 3px;
}

.five p {
  font-size: 2rem;
}

.idea-6 span {
  font-size: 15rem;
}

.wish-hbd {
  font-size: 3em;
  text-transform: uppercase;
}

.wish h5 {
  font-size: 2rem;
}

/* Countdown */
.countdown {
  margin-top: 20px;
}

.countdown-title {
  font-size: 1.6rem;
  color: #ff69b4;
}

#timer {
  font-size: 1.8rem;
  font-weight: bold;
}

.date {
  font-size: 1.2rem;
  color: #555;
}

.nine p {
  font-size: 2rem;
}

#replay {
  cursor: pointer;
}
